scipy
numpy
pandas
matplotlib
scikit-learn
seaborn
tensorflow
biopython
jupyter
torch
torchvision

#rasterio>=1.0a12
#fiona
#shapely
#pandas
#geopandas
#pyproj
#mapbox
#rasterstats
#mapboxgl
#mercantile
#scipy
#scikit-learn
#seaborn
#statsmodels
#ggplot